<%= render "share/header" %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span7">
        <div class="alert alert-info"><h5>请选择分类</h5></div>
        <p><%= link_to "单人游戏",:action=>"single_user_room",:controller=>"room" %></p>
        <p><%= link_to "多人游戏",:action=>"multi_user_room",:controller=>"room" %></p>
      </div>
      <div class="span5">
        <%= render "share/sidelink" %>
      </div>
    </div>
  </div>
</div>
<%= render "share/footer" %>
