= render "share/header" 
.container
  .container-fluid
    .row-fluid
      .span7
        .alert.alert-info
          %h3= "请选择你所需要的数"
        .span7
          =form_for :game,:html=>{:class=>"form-horizontal",:id=>"select_num"},:url=>{:action=>"post_single",:controller=>"room"} do |f|
            %fieldset
              %legend
                选择你猜想的一个数字
              %div{:class=>"control-group"}
                =f.label "选择一个",:class=>"control-label"
                %div{:class=>"controls"}
                  =check_box "zero","0"
                  0
                  =check_box "three","3"
                  3
                  =check_box "five","5"
                  5
                  =check_box "seven","7"
                  7
              %div{:class=>"control-group"}
                %div{ :class=>"controls pull-right"}
                  =f.button "提交",:class=>"btn btn-success",:id=>"post_button",:type=>"button"

              %div{:id=>"notice_model",:class=>"modal hide fade"}
                %div{:class=>"modal-header"}
                  %h3 提示信息
                %div{:class=>"modal-body"}
                  %p 
                    请耐心等待其他人选择中，请勿关闭浏览器，刷新等………谢谢
                %div{:class=>"modal-footer",:id=>"modal-footer"}
                  =f.button "继续",:class=>"btn btn-success",:id=>"save_data",:type=>"button"

      .span5
        .box
          %h2.title= "当前信息"
          %ul.unstyled
            %li
              欢迎你，
              %a= current_user.username
            %li 
              当前局数: 
              %a 10
            %li 
              剩下局数: 
              %a 10
            %li 
              总计得分: 
              %a 10000
= render "share/footer"
