= render "share/header" 
.container
  .container-fluid
    .row-fluid
      .span7
        .alert.alert-info
          %h3= "请选择你所需要的数"
        .span7
          =form_for :game,:html=>{:class=>"form-horizontal",:id=>"select_num"},:url=>{:action=>"post_single",:controller=>"room"} do |f|
            %fieldset
              %legend
                选择你猜想的一个数字
              %div{:class=>"control-group"}
                =f.label "选择一个",:class=>"control-label"
                %div{:class=>"controls"}
                  =f.radio_button "zero","0",:class=>"checkbox inline"
                  0
                  =f.radio_button "three","3",:class=>"checkbox inline"
                  3
                  =f.radio_button "five","5",:class=>"checkbox inline"
                  5
                  =f.radio_button "seven","7",:class=>"checkbox inline"
                  7
              %div{:class=>"control-group"}
                %div{ :class=>"controls pull-right"}
                  =f.submit "提交",:class=>"btn btn-success"

      .span5
        .box
          %h2.title= "当前信息"
          %ul.unstyled
            %li
              欢迎你，
              %a= current_user.username
            %li 
              当前局数: 
              %a 10
            %li 
              剩下局数: 
              %a 10
            %li 
              总计得分: 
              %a 10000
= render "share/footer"
