= render "share/header" 
.container
  .container-fluid
    .row-fluid
      .span7
        .alert.alert-info
          %h3= "请选择你所需要的数"
        .span7
          =form_for :game,:html=>{:class=>"form-horizontal",:id=>"select_num"},:url=>{:action=>"post_single",:controller=>"room"} do |f|
            %fieldset
              %legend
                选择你猜想的一个数字
              %div{:class=>"control-group"}
                =f.label "选择一个",:class=>"control-label",:id=>"select_label",:for=>"single_game"
                %div{:class=>"controls"}
                  %input{:type=>"checkbox",:value=>"0",:id=>"zero",:class=>"checkbox inline"}
                  0
                  %input{:type=>"checkbox",:id=>"three",:value=>"3",:class=>"checkbox inline"}
                  3
                  %input{:type=>"checkbox",:id=>"five",:value=>"5",:class=>"checkbox inline"}
                  5
                  %input{:type=>"checkbox",:id=>"seven",:value=>"7",:class=>"checkbox inline"}
                  7
              %div{:class=>"control-group"}
                %div{ :class=>"controls pull-right"}
                  =f.button "提交",:class=>"btn btn-success",:id=>"post_button",:type=>"button"

              %div{:id=>"notice_model",:class=>"modal hide fade"}
                %div{:class=>"modal-header"}
                  %h3 提示信息
                %div{:class=>"modal-body"}
                  %p 
                    请耐心等待其他人选择中，请勿关闭浏览器，刷新等………谢谢
                %div{:class=>"modal-footer",:id=>"modal-footer"}
                  =f.button "继续",:class=>"btn btn-success",:id=>"save_data",:type=>"button"
              
              %div{:id=>"result_modal",:class=>"modal hide fade"}
                %div{:class=>"modal-header"}
                  %h3 游戏结果计算
                %div{:class=>"modal-body"}
                  %p
                    当前用户:
                    %a=current_user.username
                    %p 
                      所选数字:
                      %a{:id=>"result_num"}
                    %p 
                      所用时间:
                      %a{:id=>"result_time"}
                    %p
                      本局得分:
                      %a{:id=>"result_score"}
                    %p
                      总计分数:
                      %a 1000000
                %div{:class=>"modal-footer",:id=>"modal-footer"}
                  =f.button "再接再厉",:class=>"btn btn-success",:id=>"continue_game",:type=>"button"
      .span5
        .box
          %h2.title= "当前信息"
          %ul.unstyled
            %li
              欢迎你，
              %a= current_user.username
            %li 
              当前局数: 
              %a 10
            %li 
              剩下局数: 
              %a 10
            %li 
              总计得分: 
              %a 10000
= render "share/footer"
