<%= render "share/header" %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span7">
        <% if session[:room_id] %>
          <%= render "room/single_game" %>
        <% elsif session[:type] %>
          <%= render "room/multi_game" %>
        <% else %>
          <div class="alert alert-wrong">出错了</div>
        <% end %>
      </div>
      <div class="span5">
        <%= render "share/sidelink" %>
      </div>
    </div>
  </div>
</div>
<%= render "share/footer" %>
