<%= render "share/header" %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span7">
        <div class="alert alert-info"><h5>请选择分类</h5></div>
        <p><%= link_to "游戏A",:controller=>"room",:action=>"current_single_game",:type=>1,:id=>"game_one" %></p>
        <p><%= link_to "游戏B",:controller=>"room",:action=>"current_single_game",:type=>2,:id=>"game_two" %></p>
        <p><%= link_to "游戏C",:controller=>"room",:action=>"current_single_game",:type=>3,:id=>"game_three" %></p>
      </div>
      <div class="span5">
        <%= render "share/sidelink" %>
      </div>
    </div>
  </div>
</div>
<%= render "share/footer" %>
